#profile-reviews, #profile-events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 2% 3%;
}

.profile-review-card, .profile-event-card {
    border: solid 1px #d2caca;
    border-radius: 5px;
    padding: 5%;
    transition: transform .5s;
    height: 460px;
    background-color: #faf9f7;
}

.profile-event-card {
    height: 400px;
}

.profile-review-card:hover, .profile-event-card:hover {
    transform: scale(1.05);
}

.profile-review-card-btn-container {
    width: 35% !important;
    margin: 0 0 0 65% !important;
}

.profile-review-card-icon {
    color: black;
}

.profile-review-card-image, .profile-event-card-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10%!important;
}

.profile-review-card-image,
.profile-review-card-rating,
.profile-event-card-image {
    margin: 2% 0;
}

.profile-review-card-text {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.profile-review-card-text,
.profile-review-card-date,
.profile-event-card-name,
.profile-review-card-author,
.profile-event-card-date {
    color: black;
    margin: 5% 0;
}

.profile-event-card-name {
    font-size: 24px;
    font-weight: bold;
}

.profile-review-card-author {
    display: flex;
}

.profile-review-card-author-name {
    margin: 2.5% 5%;
}