#contact-form-container {
    padding: 5%;
}

#contact-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    margin: 0 auto;
}

#contact-form-header {
    text-align: center;
    margin-bottom: 2%;
}

#contact-form-subheader {
    text-align: center;
    margin-bottom: 5%;
}

.contact-form-col:nth-child(2),
.contact-form-col:nth-child(3),
.contact-form-col:nth-child(4) {
    width: 60%;
    margin: 0 auto;
}

.contact-form-label {
    display: block;
    font-weight: 700;
    margin-bottom: 1%;
}

#contact-form-name-input,
#contact-form-email-input,
#contact-form-service-input {
    width: 100%;
    padding: 1%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
}

#contact-form-submit-btn {
    margin: 5% 30%;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    border: solid 1px #000;
    cursor: pointer;
}

#contact-form-submit-btn:hover {
    background-color: #fff;
    color: #000;
    border: solid 1px #000;
}

#thank-you-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #contact-form {
        width: 60%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #contact-form {
        width: 70%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #contact-form {
        width: 80%;
    }
}

@media (max-width: 767px) {
    #contact-form {
        width: 90%;
    }

    #contact-form-header {
        font-size: 24px;
    }

    #contact-form-subheader {
        font-size: 18px;
    }

    .contact-form-col:nth-child(2),
    .contact-form-col:nth-child(3),
    .contact-form-col:nth-child(4) {
        width: 100%;
    }
}