#footer-container {
    background-color: #ffffff;
    padding: 5%;
    text-align: center;
}

#footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 70%;
    margin: 0 auto;
}

.footer-col {
    text-align: center;
}

.footer-col:nth-child(1) {
    grid-column: span 5;
}

.footer-col:nth-child(2), .footer-col:nth-child(3) {
    grid-column: span 3;
}