#available-services-container {
    padding: 5%;
}

#available-services-header {
  text-align: center;
}

#available-services-subheader {
    text-align: center;
    font-size: 16px;
}

#available-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: 2% auto;
}

.available-services-col {
    text-align: center;
}

.available-services-emoji {
  font-size: 50px;
  background-color: #f2f2f2;
  padding: 3%;
  border-radius: 50%;
  width: 90px;
  margin: 0 auto;
}

.available-services-col-header {
    font-size: 20px!important;
    margin-top: 3%!important;
}

.available-services-col-subheader {
    font-size: 16px!important;
    margin-top: 1%!important;
    color: #afafaf!important;
}

@media (max-width: 1699px) and (min-width: 1200px) {

    #available-services-subheader {
        margin-bottom: 3%;
    }

    #available-services {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1199px) and (min-width: 992px) {

    #available-services-subheader {
        margin-bottom: 3%;
    }

    #available-services {
        grid-template-columns: repeat(3, 1fr);
        width: 70%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {

    #available-services-subheader {
        margin-bottom: 5%;
    }

    #available-services {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }
}

@media (max-width: 767px) {
    #available-services-container {
        padding: 10%;
    }

    #available-services-subheader {
        margin-bottom: 10%;
    }

    #available-services {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        row-gap: 40px;
    }

    .available-services-col-header {
        font-size: 18px!important;
    }

    .available-services-col-subheader {
        font-size: 14px!important;
    }
}